<div class="flex-column flex-shrink-0 p-3 shadow bg-light d-none d-lg-none d-xl-block vh-100 w-100">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img src="favicon.ico" class="me-4 ms-3" alt="">
    <span class="fs-min fw-bold text-dark">Gestion de Eventos Municipales</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item d-flex justify-content-center">
      <a class="nav-link active w-100 fs-min fw-bold" aria-current="page" routerLink='eventos'>
        <i class="fas fa-calendar-check me-2"></i>
        Listado de Eventos
      </a>
    </li>
    <!-- <li>
      <a class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2"></use>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <a class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table"></use>
        </svg>
        Orders
      </a>
    </li>
    <li>
      <a class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid"></use>
        </svg>
        Products
      </a>
    </li>
    <li>
      <a class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#people-circle"></use>
        </svg>
        Customers
      </a>
    </li> -->
  </ul>
  <!-- <hr>
  <div class="dropdown">
    <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item">New project...</a></li>
      <li><a class="dropdown-item">Settings</a></li>
      <li><a class="dropdown-item">Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item">Sign out</a></li>
    </ul>
  </div> -->
</div>


<nav class="navbar navbar-expand-sm navbar-light bg-light shadow d-lg-block d-xl-none">
  <div class="container">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink='eventos' routerLinkActive="router-link-active"
            routerLinkActive="active" aria-current="page">Eventos
            <span class="visually-hidden">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['usuarios/', 1]">actividades</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
